@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Inter', sans-serif;
}

.dark {
    background-color: #171717;
    color: #ddd;
    transition: 0.7s ease-in-out;
}

.light {
    background-color: #ddd;
    transition: 0.7s ease-in-out;
}

/* Navbar */
.navbar {
    background-color: #2D4263;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

nav a {
    text-decoration: none;
    color: #ddd;
}

.nav-links {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 30%;
}
.dark-btn {
    color: #000;
    background-color: #D9D9D9;
    border: none;
    outline: none;
    padding: 8px;
    border-radius: 5px;
    cursor: pointer;
} 
.nav-btn {
    display: flex;
    justify-content: center;
    background-color: #2D4263;
    padding: 5px;
    visibility: hidden;
    width: 100%;
    cursor: pointer;
    border: none;
    outline: none;
    opacity: 0;
    color: #ddd;
}

@media only screen and (max-width: 1024px) {
    .nav-btn {
        visibility: visible;
        opacity: 1;
    }

     .nav-links{
        justify-content: center;
        align-items: center;
        padding: 15px;
        gap: 1.5rem;
        transition: 1s;
        transform: translateY(-100vh);
    }


    .res-nav {
        transition: 1s;
        transform: none;
        display: flex;
        flex-direction: column;
    }

    .navbar {
        flex-direction: column;
    }
}
/* = END = Navbar */

/* Home */
.home {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 3rem 8rem;
}

.nasro-pic {
    width: 300px;
    height: 300px;
    border-radius: 50%;
    filter: drop-shadow(0px 0px 20px #2D4263);
}

.details {
    width: 60%;
}

.name {
    font-size: 2.8rem;
}

.summary {
    font-size: 1.2rem;
}

@media only screen and (max-width: 1024px) {
    .home {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding-top: 3rem;
    }

    .nasro-pic {
        width: 250px;
        height: 250px;
        margin-bottom: 2rem;
    }

    .details {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        /* background-color: #2D4263; */
    }

    .name {
        font-size: 2.1rem;
        margin-bottom: 0.6rem;
    }
    
    .summary {
        font-size: 1rem;
    }
}
/* = END = Home */



/* Skills */
.skills-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 8rem;
}

/* skills header, projects header and contact header */

.skills-header, .projects-header {
    font-size: 2.5rem;
    margin-bottom: 10px;
}
/* = END = skills header, projects header and contact header */


img {
    width: 80px;
}

.skills-img {
    background-color: #2D4263;
    display: grid;
    width: 100%;
    grid-template-columns: 100px 100px 100px 100px;
    gap: 100px;
    padding: 50px;
    justify-content: space-around;
}

@media only screen and (max-width: 1024px) {
    
    .skills-header {
        font-size: 2.1rem;
    }

    img {
        width: 60px;
    }

    .skills-img {
        grid-template-columns: 50px 50px 50px 50px;
        gap: 40px;
        padding: 50px;
        justify-content: space-between;
    }
}
/* = END = Skills */

/* Projects */
.projects-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 8rem;
}
.projects{
    background-color: #2D4263;
    width: 100%;
    display: grid;
    grid-template-columns: 20% 20% 20%;
    gap: 30px;
    padding: 50px;
    justify-content: space-around;
}

.project-item {
    color: #ddd;
}

.project-name{
    margin-bottom: 6px;
}

.project-desc {
    margin-bottom: 9px;
    font-size: 0.8rem;
}

.project-btn {
    color: #000;
    background-color: #D9D9D9;
    border: none;
    outline: none;
    padding: 8px;
    margin-right: 8px;
    border-radius: 5px;
    cursor: pointer;
}

@media only screen and (max-width: 1024px) {
    .projects{
        grid-template-columns: 60% 60%;
        padding: 60px;
    }

    .project-name{
        font-size: 1.5rem;
    }

    .project-btn {
        width: 100%;
        margin-bottom: 8px;
    }
}
/* = END = Projects */