@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Inter', sans-serif;
}

.dark {
    background-color: #171717;
    color: #ddd;
}

.light {
    background-color: #ddd;
}

/* Navbar */
.navbar {
    background-color: #2D4263;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

nav a {
    text-decoration: none;
    color: #ddd;
}

.nav-links {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 30%;
}
.dark-btn {
    color: #000;
    background-color: #D9D9D9;
    border: none;
    outline: none;
    padding: 8px;
    border-radius: 5px;
    cursor: pointer;
} 
.nav-btn {
    display: flex;
    justify-content: center;
    background-color: #2D4263;
    padding: 5px;
    visibility: hidden;
    width: 100%;
    cursor: pointer;
    border: none;
    outline: none;
    opacity: 0;
    color: #ddd;
}

@media only screen and (max-width: 1024px) {
    .nav-btn {
        visibility: visible;
        opacity: 1;
    }

     .nav-links{
        justify-content: center;
        align-items: center;
        padding: 15px;
        gap: 1.5rem;
        transition: 1s;
        transform: translateY(-100vh);
    }


    .res-nav {
        transition: 1s;
        transform: none;
        display: flex;
        flex-direction: column;
    }

    .navbar {
        flex-direction: column;
    }
}
/* = END = Navbar */

/* Home */
.home {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 3rem 8rem;
}

.nasro-pic {
    width: 300px;
    height: 300px;
    border-radius: 50%;
    filter: drop-shadow(0px 0px 20px #2D4263);
}

.details {
    width: 60%;
}

.name {
    font-size: 2.8rem;
}

.summary {
    font-size: 1.2rem;
}
/* = END = Home */